
*{
    margin: 0px;
    padding: 0px;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #f9f6f6;
}
/* shared style */

.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}

.dark-2{
    color: #252432;
}

/* nav style */

nav{
    padding-top: 50px;
}
.logo{
    color:#4E47FF;
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 1140px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

/* header */

.header{
    background-image: url(/Milestone_1/Assignment_1/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 698px;
}

/* banner style */

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 250px
    
}

.banner-greetings{
    font-size: 65px;
    text-align: center;
    margin-bottom: 37px;
}

/* main style */

main{
    max-width: 1140px;
    margin: 0 auto;
    
}

.action{
    display: flex;
    align-items: center;
    gap: 220px;
    margin-top: 116px;
}

.action img{
    border-radius: 20px;
    width: 403px;
    height: 328px;
    
}

.action h2{
    font-size: 42px;
    font-weight: 700;
}
.action h2, p{
    margin-bottom: 23px;
}